@charset "utf-8";
/* CSS Document */
body{
    width: 100% ;
}


.color1 {
    background: #008A49;
    color: #fff;
}
.color2 {
    background: #1B5619;
    color: #FFFFFF;
}
.color3 {
    background: #eee;
    color: #000;
}

footer {
    background: #363737;
    color: #fff;
}
#img_uthh {
  /* width: 60%;*/
    height: 134px;
}
#img_SysGE {
    width: 17%;
    height: 134px;
}